<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="syd.part0"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="syd.part0.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="syd.part0.Text01Activity"
            android:label="@string/title_activity_text01"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="syd.part0.Text02Activity"
            android:label="@string/title_activity_text02"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="syd.part0.Game01Activity"
            android:label="@string/title_activity_game01"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="syd.part0.Text03Activity"
            android:label="@string/title_activity_text03"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="syd.part0.ParentActivity"
            android:label="@string/title_activity_parent" >
        </activity>
        <activity
            android:name="syd.part0.Text04Activity"
            android:label="@string/title_activity_text04"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="syd.part0.Text05_1Activity"
            android:label="@string/title_activity_text05_1" 
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="syd.part0.Text05_2Activity"
            android:label="@string/title_activity_text05_2" 
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="syd.part0.Text05_3Activity"
            android:label="@string/title_activity_text05_3"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>
